body{
   background-color: rgb(204, 21, 21); 
}
.logo{
    
text-align: center;
color: white;
}
.logo img{
 
    width: 200px;
    height: 150px;
}
.logo h1{
    margin-bottom: -10px;  
}
.logo h2{
    color: rgb(134, 124, 124);
    font-size:18px;
}
h3{
    color: white;
    text-align: center;
}
.masuk button p{
    display: flex;
}
.masuk span{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.masuk{
    display: flex;

}
.masuk .button-anggota{
   
    border-radius: 10%;
    width: 130px;
    height: 100px;
    box-shadow: 1px 10px 5px black;
    background-color: green;
    color: white;
   margin: 25px;
    font-size: 16px;
    cursor: pointer;

display: flex;
flex-direction: column;

    align-items: center;
}
 .masuk .img-admin{
margin-top: 20px;
    width: 50px;

}
.masuk .img-anggota{
    margin-top: 8px;
        width: 45px;
    
    }
.masuk .button-anggota span{
   display: flex;
      

}

.masuk.button-admin span{
    display: flex;
}
.masuk .button-admin{
    border-radius: 10%;
    width: 130px;
    height: 100px;
    box-shadow: 1px 10px 5px black;
    background-color: blue;
    color: white;
    margin: 25px;
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.container{
    
justify-content: center;
display: flex;

}
.daftar{
    display: flex;
    flex-direction: column;
}
a{

    color: white;
    text-decoration: none;
}
.daftar h5{
display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
}

#daftar{
align-items: center;
justify-content: center;
    color: white;
    background-color: rgb(11, 148, 240);
    box-shadow: 1px 10px 5px black;
    border-radius: 10%;
    width: 130px;
    height: 40px;
    
display:flex;
cursor: pointer;
}
footer{
    text-align: center;
}
footer h5{
    display: inline;
  
    font-weight: 200;
    color: white;
  
}
footer span{
 
  
  
    color: white;
    font-weight: bold;

}
